/* 
   *GENERICS
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: black;
  font-family: "Noto Serif Ottoman Siyaq", serif;
}
header + * {
  margin-top: 80px;
}

li {
  list-style: none;
  display: flex;
}

header li {
  align-items: center;
}

h2 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.section {
  margin: 3rem 0;
}
/* 
  todo   HEADER
*/

header {
  height: 80px;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  justify-content: space-between;
  align-items: center;
}

header li {
  padding: 0 20px;
}

/* 
 todo       JUMBOTRON
*/
.jumbotron {
  background-color: #b4d0e7;
  box-shadow: inset 0px -80px 0px 0px white;
}
.title-jumbotron {
  padding: 1.5rem;
  font-size: 5rem;
}

.jumbotron > .m-container:last-child {
  display: flex;
}

.icon {
  margin-top: auto;
}
.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: calc(100% / 3);

  padding-bottom: 85px;
}

.container-img {
  width: calc((100% / 3) * 2);
}

img {
  width: 100%;
}

/* 
   todo    *MAIN
*/

/* scelta fattura */

.fattura {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.circle:nth-child(1) {
  border: 0px;
  box-shadow: inset 0px 0px 0px 5px #0061ff;
}
.circle:nth-child(3) {
  margin-left: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-right: 5px;
}

/* 
    *CARD
*/
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-bottom: 2rem; */
  font-size: 0.9rem;
}
.body-card {
  padding: 0px 30px;
}
.type-plane {
  padding: 5px;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.section-card {
  margin: 40px 0px;
}

.section-card > * {
  padding: 5px 0;
}
.title-plane {
  font-size: 2rem;
}
.price-plane {
  font-size: 1.1rem;
  font-weight: 900;
}
.date-plane {
  color: gray;
}

.list-plane {
  display: flex;
}

.column-card {
  width: calc(100% / 3 - 20px);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.column-card li {
  padding: 5px 2px;
}

.section-card > .button {
  text-align: center;
  width: 100%;
}

.section-card a,
.title-brand a {
  text-decoration: underline;
  color: #0061ff;
}

.line {
  width: 4rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

/* 
    * CARD HORIZONTAL
*/

.container-card .column-card:last-child {
  width: 100%;
}
.container-card .column-card:last-child .body-card {
  display: flex;
}

.Enterprise-plane {
  width: 70%;
  padding-bottom: 40px;
}

.Enterprise-plane-button {
  width: 30%;
}

/* 
    *Section 1 - PARTNER
*/

.partner {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.partner > .container-text {
  padding-top: 50px;
}

.partner .button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* 
    *Section 2 - card operation
*/
.container-card-operation {
  flex-wrap: wrap;
}
.card-operation {
  width: calc(100% / 3);
  gap: 2rem;
}

/* 
    *CONTAINER GRILL
*/

.container-grill {
  width: calc(100% / 3);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
}

.box-grill {
  width: calc(100% / 2);
  height: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-grill > img {
  transform: scale(0.4);
  filter: invert(1);
}

.box-grill.florida-img > img {
  transform: scale(0.8);
}
/* 
    *BOX GRILL COLORE
*/

.designit-img {
  background-color: #a2d39b;
  box-shadow: inset 0px 0px 0px 15px #d1e9cd;
}

.asu-img {
  background-color: #61082b;
}

.florida-img {
  background-color: #0093ce;
}

.topps-img {
  background-color: #ff1c1c;
}
/* 
    *UTILITIS
*/
.l-container {
  width: 100%;
  margin-bottom: 100px;
}

.m-container {
  width: 1280px;
  margin: 50px auto;
}

.s-container {
  width: 1080px;
  margin: 50px auto;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}

.button {
  padding: 8px 15px;
  color: white;
  background-color: #0061ff;
  display: inline-block;
}
/* 
 TODO   DEBUG
*/
.debug {
  border: 2px dashed black;
}

.debug nav {
  border: 2px dashed rgb(157, 126, 126);
  background-color: brown;
}

.debug .m-container {
  border: 2px dashed rgb(157, 126, 126);
  background-color: brown;
}

.debug .s-container {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 151, 42);
}

.debug .container-text {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 151, 42);
}
.debug .container-img {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 106, 42);
}

.debug .column-card,
.debug .column-card-horizontal {
  border: 2px dashed rgb(176, 0, 0);
  background-color: rgb(0, 187, 25);
  min-height: 50px;
}

.debug .type-plane-card {
  background-color: rgb(232, 189, 132);
  min-height: 50px;
}

.debug .offer-card {
  background-color: rgb(232, 189, 132);
  min-height: 50px;
}

.debug .container-content-card {
  background-color: antiquewhite;
  min-height: 50px;
}

.debug .container-grill {
  background-color: rgb(181, 135, 75);
  min-height: 50px;
}
