/* 
   *GENERICS
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: black;
  font-family: "Noto Serif Ottoman Siyaq", serif;
}
header + * {
  margin-top: 80px;
}

li {
  list-style: none;
  display: flex;
}

header li {
  align-items: center;
}

.title-section {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.section {
  margin: 3rem 0;
}
/* 
  todo   HEADER
*/

header {
  height: 80px;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  justify-content: space-between;
  align-items: center;
}

header li {
  padding: 0 20px;
}

/* 
 todo       JUMBOTRON
*/
.jumbotron {
  background-color: #b4d0e7;
  box-shadow: inset 0px -80px 0px 0px white;
}
.title-jumbotron {
  padding: 1.5rem;
  font-size: 5rem;
}

.jumbotron > .m-container:last-child {
  display: flex;
}

.icon {
  margin-top: auto;
}
.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: calc(100% / 3);

  padding-bottom: 85px;
}

.container-img {
  width: calc((100% / 3) * 2);
}

img {
  width: 100%;
}

/* 
   todo    *MAIN
*/

/* scelta fattura */

.fattura {
  display: flex;
  align-items: center;
}
.circle:nth-child(1) {
  border: 0px;
  box-shadow: inset 0px 0px 0px 5px #0061ff;
}
.circle:nth-child(3) {
  margin-left: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-right: 5px;
}

/* 
    *CARD
*/
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-bottom: 2rem; */
  font-size: 0.9rem;
}
.body-card {
  padding: 0px 30px;
}
.type-plane {
  padding: 5px;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.section-card {
  margin: 40px 0px;
}

.section-card > * {
  padding: 5px 0;
}
.title-plane {
  font-size: 2rem;
}
.price-plane {
  font-size: 1.1rem;
  font-weight: 900;
}
.date-plane {
  color: gray;
}

.list-plane {
  display: flex;
}

.column-card {
  width: calc((100% - 60px) / 3);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.column-card li {
  padding: 5px 2px;
}

.section-card > .button {
  text-align: center;
  width: 100%;
}

.section-card a,
.title-brand a {
  text-decoration: underline;
  color: #0061ff;
}

.line {
  width: 4rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.list-plane i {
  position: relative;
  bottom: -3px;
}

/* 
    * CARD HORIZONTAL
*/

.container-card .column-card:last-child {
  width: 100%;
}
.container-card .column-card:last-child .body-card {
  display: flex;
}

.Enterprise-plane {
  width: 70%;
  padding-bottom: 40px;
}

.Enterprise-plane-button {
  width: 30%;
}

/* 
    *Section 1 - PARTNER
*/

.partner {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.partner > .container-text {
  padding-top: 50px;
}

.partner .button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.title-section a {
  color: #0061ff;
}

/* 
    *Section 2 - card operation
*/

.container-card-operation {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card-operation > .section-card {
  margin: 10px auto;
}

.card-operation {
  width: calc((100% - 80px) / 3);
}

/* 
    *CONTAINER GRILL
*/

.big-grill-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.grill-column {
  width: calc(100% / 3);
}
.grill-container {
  display: flex;
  flex-wrap: wrap;
}
.grill-box {
  width: calc(100% / 2);
  aspect-ratio: 1 / 1;
  /* position: absolute; */
}

.grill-box-center {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f5f5f5;
}

.grill-box img {
  width: 50%;
  filter: invert(1);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 
    *BOX GRILL CENTRO
*/

.grill-box-center {
  padding: 30px;
}
.grill-box-center img {
  width: 50%;
}

.grill-box-center .section-card:first-child:after {
  content: "";
  border-bottom: 1px solid rgba(125, 125, 125, 0.517);
  width: 110px;
  display: block;
  margin-top: 30px;
}

.designit-opacity {
  opacity: 0;
}

.designit-bg:hover {
  box-shadow: inset 0px 0px 0px 15px #d1e9cd;
}

.designit-bg:hover .designit-opacity {
  opacity: 1;
}

/* 
    *BOX GRILL COLORE
*/

.designit-bg {
  background-color: #a2d39b;
}

.asu-bg {
  background-color: #61082b;
}

.florida-bg {
  background-color: #0093ce;
}

.topps-bg {
  background-color: #ff1c1c;
}

.world-bicycle {
  background-color: #d5001f;
}

.hearst-corp {
  background-color: #b4d0e7;
}

.lonely-planet {
  background-color: #0d2481;
}

.clear-channel {
  background-color: #ffd830;
}

/* 
    *promote - section -  grill
*/

.bg-azure {
  background-color: #b4d0e7;
  padding: 40px 0px;
}
.section-promote {
  display: flex;
  justify-content: space-between;
}

.section-promote .section-text {
  width: 50%;
}
.section-text .title-section {
  margin-bottom: 0px;
  color: #61082b;
}
.section-promote .section-button {
  width: 30%;
}
.section-button .button {
  background-color: #ffffff;
  color: black;
  width: 100%;
  text-align: center;
}
.section-button a {
  text-decoration: none;
}
/* 
    *FAQ
*/

.faq-container .faq-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.faq-container .section-card {
  margin: 0;
}

.faq-container i {
  padding-right: 40px;
  cursor: pointer;
}

.faq-container .section-card::before {
  content: "";
  border-bottom: 1px solid black;

  display: block;
}

.faq-container::after {
  content: "";
  border-bottom: 1px solid black;

  display: block;
}

/* 
    *UTILITIS
*/
.l-container {
  width: 100%;
  margin-bottom: 100px;
}

.m-container {
  width: 1280px;
  margin: 50px auto;
}

.s-container {
  width: 1080px;
  margin: 50px auto;
}

.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}

.button {
  padding: 8px 15px;
  color: white;
  background-color: #0061ff;
  display: inline-block;
}

/* 
       *footer
*/
.bg-footer {
  background-color: black;
}

.l-container.bg-footer,
.bg-footer .m-container {
  background-color: black;
  margin-bottom: 0;
}

.footer-container {
  color: white;

  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;
}

.footer-container a {
  color: white;
  text-decoration: none;
}

.col-container {
  width: calc((100% - 80px) / 5);
  /* flex-basis: 0; */
}

.col-container:last-child {
  width: 100%;
}

.col-container .title-section {
  font-size: 1.5rem;
}
.language i.fa-sort-up {
  position: relative;
  top: 5px;
}

.col-container:last-child:before {
  content: "";
  border-bottom: 1px solid rgb(125, 125, 125);
  width: 10%;
  display: block;
}

/* 
 TODO   DEBUG
*/
.debug {
  border: 2px dashed black;
}

.debug nav {
  border: 2px dashed rgb(157, 126, 126);
  background-color: brown;
}

.debug .m-container {
  border: 2px dashed rgb(157, 126, 126);
  background-color: brown;
}

.debug .s-container {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 151, 42);
}

.debug .container-text {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 151, 42);
}
.debug .container-img {
  border: 2px dashed rgb(157, 126, 126);
  background-color: rgb(165, 106, 42);
}

.debug .column-card,
.debug .column-card-horizontal {
  border: 2px dashed rgb(176, 0, 0);
  background-color: rgb(0, 187, 25);
  min-height: 50px;
}

.debug .type-plane-card {
  background-color: rgb(232, 189, 132);
  min-height: 50px;
}

.debug .offer-card {
  background-color: rgb(232, 189, 132);
  min-height: 50px;
}

.debug .container-content-card {
  background-color: antiquewhite;
  min-height: 50px;
}

.debug .container-grill {
  background-color: rgb(181, 135, 75);
  min-height: 50px;
}

.debug .big-grill-container {
  background-color: rgb(181, 135, 75);
  border: 2px dashed rgb(176, 0, 0);
  min-height: 50px;
}

.debug .grill-column {
  background-color: rgba(226, 230, 8, 0.612);
  border: 2px dashed rgb(44, 176, 0);
  min-height: 50px;
}

.debug .grill-container {
  background-color: rgba(8, 230, 27, 0.612);
  border: 2px dashed rgb(0, 29, 176);
  min-height: 50px;
}

.debug .grill-box {
  background-color: rgba(230, 104, 8, 0.333);
  border: 2px dashed rgb(176, 0, 67);
  min-height: 50px;
}

.debug .grill-box-center {
  background-color: rgba(230, 8, 34, 0.333);
  border: 2px dashed rgb(176, 0, 67);
  min-height: 50px;
}
